* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Spartan", sans-serif;
  font-size: 1.5rem;
}
.container {
  width: 130rem;
  padding: 15rem 10rem;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
.top-section {
  grid-column: 1 / -1;
}
/********************************/
/* Top Section */
/********************************/

h1 {
  font-size: 4.2rem;
  line-height: 1;
  letter-spacing: -0.5px;
  color: hsl(300, 43%, 22%);
  margin-bottom: 2rem;
}
.heading p {
  color: hsl(303, 10%, 53%);
  line-height: 1.5;
  width: 120%;
}
/* Rate Boxes Design  */
.top-section {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5rem;
}
.heading {
  width: 39%;
}
.rating {
  grid-column: 2/ 3;
}
.rating-box {
  background-color: hsl(300, 24%, 96%);
  margin-bottom: 1.5rem;
  border-radius: 10px;
}
.rate-box {
  font-weight: 700;
  margin-bottom: 2rem;
  padding: 1.5rem 2rem;
}
.rate2 {
  position: relative;
  right: 5rem;
}
.rate1 {
  position: relative;
  right: 10rem;
}
.stars {
  margin-right: 2rem;
}

/********************************/
/* Bot Section */
/********************************/
.customers-testimonials {
  grid-column: 1 / -1;
  display: flex;
  justify-content: space-between;
  gap: 3rem;
}
.testimonial {
  background-color: hsl(300, 43%, 22%);
  border-radius: 10px;
  padding: 1.5rem 2rem 0 2rem;
  height: 23rem;
}
.image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.customer-profile {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
blockquote {
  font-size: 1.2rem;
  line-height: 1.7;
  padding: 1rem;
  color: hsl(300, 24%, 96%);
}
.test2 {
  margin-top: 1.5rem;
}
.test3 {
  margin-top: 3rem;
}
.author {
  font-size: 1.2rem;
  color: hsl(0, 0%, 100%);
  font-weight: 700;
  margin-bottom: 5px;
}
.verified {
  font-size: 1.2rem;
  color: hsl(333, 80%, 67%);
  font-weight: 700;
  line-height: 1.6;
}
/********************************/
/* Footer Section */
/********************************/
.attribution {
  font-size: 1.1rem;
  text-align: center;
  margin-top: 3rem;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/* 
Very Dark Magenta: hsl(300, 43%, 22%)
Soft Pink: hsl(333, 80%, 67%)
Dark Grayish Magenta: hsl(303, 10%, 53%)
Light Grayish Magenta: hsl(300, 24%, 96%)
White: hsl(0, 0%, 100%)
*/
